#############################################
#                                           #
#    Sample configuration file for mbusd    #
#                                           #
#############################################

########## Serial port settings #############

# Serial port device name
device = /dev/ttyS0

# Serial port speed
speed = 9600

# Serial port mode
mode = 8n1

# RS-485 data direction control type (addc, rts, sysfs_0, sysfs_1, ioctl)
trx_control = addc

# Sysfs file to use to control data direction
# trx_sysfile =

# Example IOCTL configuration

#trx_control = ioctl
#trx_sysfile = /dev/gpio_ctl

# IOCTL request number

#trx_ioctl_req = 0x40080004

# IOCTL argument type (long, struct)

# "long" argument example

#trx_ioctl_arg_type = long

# 1 when RTS set, 0 when clear
# rts_inv for inverse
#trx_ioctl_val = rts


# "struct" argument example

#trx_ioctl_arg_type = struct

#trx_ioctl_val_1 = 0

# 1 when RTS set, 0 when clear
# rts_inv for inverse
#trx_ioctl_val_2 = rts


############# TCP port settings #############

# TCP server address to bind
address = 0.0.0.0

# TCP server port number
port = 502

# Maximum number of simultaneous TCP connections
maxconn = 32

# Connection timeout value in seconds
timeout = 60

######### Request/response settings #########

# Maximum number of request retries
retries = 3

# Pause between requests in milliseconds
pause = 100

# Response wait time in milliseconds
wait = 500

# Reply on Broadcast
replyonbroadcast = no
